.basketballContainer {
	position: relative;
	height: 500px;
}

.basketball {
	background: #ea4c89;
	border-radius: 50%;
	border: 10px solid #ce4075;
	height: 150px;
	overflow: hidden;
	position: relative;
	width: 150px;
	animation: jump 1s infinite;

	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		height: 150px;
		width: 150px;
		border: solid 10px #ce4075;
		border-radius: 50%;
		box-sizing: border-box;
		z-index: 1;
	}

	&:before {
		right: 75px;
		top: -45px;
	}

	&:after {
		left: 75px;
		top: 10px;
	}
}

.basketballLine1 {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	border-right: solid 10px #ce4075;
	box-sizing: border-box;
	right: 50%;
	transform: rotate(16deg);
	top: -17px;
	left: -60px;
}

.basketballLine2 {
	position: absolute;
	display: block;
	height: 200px;
	width: 200px;
	border: solid 10px #ce4075;
	border-radius: 50%;
	box-sizing: border-box;
	top: 35px;
	right: -15px;
}

.highlight {
	background: #ec79a3;
	width: 100px;
	height: 80px;
	position: absolute;
	left: 15px;
	top: -1px;
	border-radius: 50%;
	z-index: 0;
}

.shadow {
	width: 100px;
	height: 20px;
	background: rgba(0, 0, 0, .3);
	position: absolute;
	bottom: 75px;
	z-index: 3;
	left: 50%;
	margin-left: -45px;
	border-radius: 50%;

	animation: shrink 1s infinite;
}

@keyframes shrink {
	0% {
		width: 100px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-in;
	}

	50% {
		width: 70px;
		margin-left: -35px;
		-webkit-animation-timing-function: ease-out;
	}

	100% {
		width: 100px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-in;
	}
}

@keyframes jump {
	0% {
		margin-top: 0px;
		transform: scale(0.75, 0.75);
		animation-timing-function: ease-in;
	}

	40% {
		transform: scale(0.75, 0.75)
	}

	50% {
		margin-top: 300px;
		transform: scale(0.75, 0.50);
		animation-timing-function: ease-out;
	}

	60% {
		-ms-transform: scale(0.75, 0.75)
	}

	100% {
		margin-top: 0px;
		transform: scale(0.75, 0.75);
		animation-timing-function: ease-in;
	}
}